@font-face{
	font-family: 'Raleway';
	src: url('Raleway-VariableFont_wght.ttf'),
	url('Raleway-Italic-VariableFont_wght.ttf');
}
body
{
	font-family: 'Raleway', sans-serif; /*Le navigateur utilise la police Raleway en priorité*/
}

header
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

nav ul
{
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	font-size: 0.9em;
	flex-wrap: wrap-reverse;
}
 nav li
 {
 	margin-right: 30px;
 	padding-top: 40px;
 }

 nav a
 {
 	color: black;
 	text-decoration: none;
 }

 nav a:hover
 {
 	color: #0065FC;
 	border-top: 3px solid #0065FC;
 	padding-top: 40px;
 }

#nav3 a
{
	color: #0065FC;
}

 #logo img /*dimension divisé par 5*/
 {
 	width: 77px;
 	height: 36px;
 }
 
 #logo
 {
 	display: flex;
 	align-items: flex-end;
 }

h1
{
	font-size: 1em;
}

p 
{
	font-size: 0.8em;
}

h2
{
	font-size: 1em;
}

#blochebergement
{
	display: flex;
	justify-content: space-around;
}

#hebergements
{
	display: flex;
	background-color: #F2F2F2;
	border-radius: 10px;
	flex-direction: column;
	margin-right: 30px;
	padding: 20px;
}

#heb1
{
	display: flex;
	justify-content: space-around;
}

#heb2
{
	display: flex;
	justify-content: space-around;
}

#cannebiere
{
	width: 200px;
	height: 100px;
	border-radius: 10px;
	background-image: url('images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg');
	background-size: cover;
	background-position: left;
}

#port
{
	width: 200px;
	height: 100px;
	border-radius: 10px;
	background-image: url('images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg');
	background-size: cover;
	background-position: left;
}

#mouettes
{
	width: 200px;
	height: 100px;
	border-radius: 10px;
	background-image: url('images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg');
	background-size: cover;
	background-position: left;
}

#mer
{
	width: 200px;
	height: 100px;
	border-radius: 10px;
	background-image: url('images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg');
	background-size: cover;
	background-position: left;
}

#panier
{
	width: 200px;
	height: 100px;
	border-radius: 10px;
	background-image: url('images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg');
	background-size: cover;
	background-position: left;
}

#amina
{
	width: 200px;
	height: 100px;
	border-radius: 10px;
	background-image: url('images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg');
	background-size: cover;
	background-position: left;
}

.description
{
	display: flex;
	background-color: white;
	border-radius: 10px;
	flex-direction: column;
	border: 3px white solid;
	box-shadow: 2px 2px 5px grey;
	margin-right: 20px;
	margin-bottom: 20px;
}

h3
{
	font-size: 0.8em;
}

.description p
{
	font-size: 0.6em;
}

#blochebergement a
{
	color: black;
 	text-decoration: none;
}

#populaires
{
	display: flex;
	background-color: #F2F2F2;
	border-radius: 10px;
	flex-direction: column;
	justify-content: space-around;
}