@font-face{
	font-family: 'Raleway';
	src: url('Raleway-VariableFont_wght.ttf'),
	url('Raleway-Italic-VariableFont_wght.ttf');
}
body
{
	font-family: 'Raleway', sans-serif; /*Le navigateur utilise la police Raleway en priorité*/
}

header 
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#logo 
{
  padding-top: 20px;
}

nav 
{
  display: flex;
  align-items: center;  
}

nav ul 
{
  display: flex;
}

nav li a 
{
  padding: 30px;
  text-decoration: none;
  color:initial;
}

#signIn 
{
  color: #0065fc;
  font-weight: bolder;
  text-decoration: none;
  border-top: 5px solid transparent;
  padding: 30px;
}

#signIn:hover 
{
  color: #0065fc;
  border-top: 5px solid #0065fc;
  cursor: pointer;
}

nav a:hover 
{
  color: #0065fc;
  border-top: 5px solid #0065fc;
  cursor: pointer;
}  

h1
{
	font-size: 24px;
	font-weight: bold;
}

p 
{
	font-size: 18px;
}

h2
{
	font-size: 20px;
}

#barrerecherche >form
{
	display: flex;
	margin-top: 3vw;
	margin-bottom: 3vw;
	margin:0 ;
	height: 40px;
	width: auto;
}

.fa-map-marker-alt
{
	background-color: #f2f2f2;
	color: black;
	padding: 10px 10px 10px 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#lieu
{
	border: 1px solid #f2f2f2;

	font-family: 'Raleway';
	font-weight: bold;
	padding-left: 10px;
	font-size: 18px;
}

#bouton
{
	background-color: #0065fc;
	color: white;
	border: 1px solid;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	font-size: 18px;
}

#buttonsmart
{
	display: none;
	background-color: #0065fc;
	color: white;
	border: 1px solid;
	border-radius: 10px;
}

#filtres
{
	display: flex;
	width: 65%;
	justify-content: space-between;
	flex-wrap: wrap;
}

#filtres div
{
	display: flex;
	justify-content: flex-start;
	align-content: center;
	border: 1px solid #f2f2f2;
	border-radius: 200px;
	padding: 0;
	height: 35px;
}

#filtres div i
{
	background-color: #deebff;
	color: #0065fc;
	border-radius: 200px;
	align-self: center;
}

.fa-child
{
	padding: 10px 12px 10px 12px;
}

.fa-money-bill-wave, .fa-heart, .fa-dog
{
	padding: 10px;
}

#filtres div p
{
	font-weight: bold;
	font-size: 16px;
	align-self: center;
	padding: 20px;
}

#filtres h4 
{
	font-size: 18px;
	font-weight: bold;
	align-self: center;
	margin-right: 30px;
}

.lienfiltres
{
	color: black;
	text-decoration: none;
	align-self: center;
}

.lienfiltres:hover
{
	box-shadow: 3px 3px 9px #0065fc;
	border-radius: 200px;
}

#infos
{
	display: flex;
	margin-bottom: 3vw;
}

.fa-info-circle
{
	background-color: #0065fc;
	color: white;
	border: 1px solid #f2f2f2;
	border-radius: 200px;
	align-self: center;
}

#infos p
{
	font-size: 18px;
	margin-left: 10px;
}

#blochebergement
{
	display: flex;
	justify-content: space-between;
}

#bloc1
{
	background-color: #F2F2F2;
	border-radius: 10px;
	margin-right: 3vw;
	padding: 2vw;
	flex: 3;
}

#hebergements
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.lignes
{
	display: flex;
	justify-content: space-between;
}


#cannebiere
{
	background-image: url('images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg');
}

#port
{
	background-image: url('images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg');
}

#mouettes
{
	background-image: url('images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg');
}

#mer
{
	background-image: url('images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg');
}

#panier
{
	background-image: url('images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg');
}

#amina
{
	background-image: url('images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg');
}

.carteheb
{
	width: auto;
    height: 8vw;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    object-position: 50% 50%;	
    background-size: cover;
	background-position: left;	
	border: 3px solid white;	
}

.description
{
	width: 15vw;
	display: flex;
	background-color: white;
	border-radius: 15px;
	flex-direction: column;
	box-shadow: 3px 3px 3px grey;
	margin-bottom: 2vw;
	margin-left: 20px;
	height: 15vw;
	word-wrap: break-word;
}

h3
{
	font-size: 15px;
	font-weight: bold;

}

strong
{
	font-weight: bold;
}

.description p
{
	font-size: 12px;
}

#blochebergement a
{
	color: black;
 	text-decoration: none;
}

#populaires
{
	display: flex;
	background-color: #F2F2F2;
	border-radius: 15px;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 3vw;
	padding: 2vw;
	flex: 1.2;
}

#entetepop
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#soleil
{
	background-image: url('images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg');
}

#eau
{
	background-image: url('images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg');
}

#bleublanc
{
	background-image: url('images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg');
}

.cartepop
{
	width: 10vw;
    height: auto;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
    object-position: 50% 50%;
    background-size: cover;
	background-position: left;	
	border: 3px solid white;
}


.pop
{
	display: flex;
	background-color: white;
	border-radius: 15px;

	box-shadow: 3px 3px 3px grey;
	margin-bottom: 2vw;
	width: 25vw;
    height: 10vw;
}

.texte
{
	display: flex;
	flex-direction: column;
	align-content: space-between;
	justify-content: space-between;
	word-wrap: break-word;
	margin: 0.2vw;
	height: 100%;
}

.texte p
{
	font-size: 14px;
}


.etoiles
{
	font-size: 14px;
	padding-left: 10px;
	margin-bottom: 10px;
}

#blochebergement p
{
	margin-top: 0px;
	padding-top: 0px;
	padding-left: 10px;
}

#blochebergement h3
{
	margin-bottom: 5px;
	padding-left: 10px;
}

#plus
{
	padding: 0;
	margin-left: 10px;
	margin-bottom: 0;
}
.fa-star
{
    color: #0065FC;
}

.fa-star.grey
{
    color: #F2F2F2;
}

#activites
{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

#activites a
{
	color: black;
 	text-decoration: none;
}

.photoactivites
{
    width: 20vw;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 3px 3px 6px #f2f2f2;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
}

#act60, #act30
{
	margin-top: auto;
}
 
figcaption
{
	font-size: 14px;
	font-weight: bold;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 20px;

}

#blocactivites h3
{
	margin-bottom: 5px;
	padding-left: 10px;
}

#blocactivites, #blochebergement, #recherche, #barrerecherche, #filtres, #infos
{
    margin: 0 3vw 3vw 3vw;
}

#activites
{
	height: auto;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}


.grande
{
    width: 20vw;
    height: 37vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.petite
{
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.trespetite
{
    width: 20vw;
    height: 11.4vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.moyenne
{
    width: 20vw;
    height: 15.7vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}



#activites2, #activites4
{
	display: flex;
	flex-direction: column;
}

.gdactivites
{
	height: auto;
}

footer
{
	display: flex;
	justify-content: flex-start;
	background-color: #F2F2F2;
	font-size: 14px;
	line-height: 20px;
	flex-wrap: wrap;
	margin-top: 3vw;
}

footer > div
{
	margin-left: 5vw;
	width: 23%;
}

footer h4
{
	font-weight: bold;
}

footer ul
{
	list-style-type: none;
}

footer li
{
	position: relative;
	right: 40px;
	bottom: 10px;
}

/*Responsive*/

@media screen and (max-width: 767px) /*pour les smartphones*/
{
	body
	{
		width: auto;
		margin: 0;
		margin-top: 5vw;
	}

	#logo 
	{
  		padding-left:25px;
  	}
  	nav 
  	{
  		width: 100%;
  	}
  	nav ul 
  	{
  		width: 100%;
  		padding: 0;
  	}
  	#signIn 
  	{
  		position: absolute;
  		top: 5px;
  		right: 1px;
  	}
  	nav a:hover 
  	{
  		border-top: none;
  	}
  	nav li 
  	{
  		width: 100%;
  		text-align: center;
  		border-bottom: 3px solid #f2f2f2;
  		padding-bottom: 15px;
  	}
  	nav li:hover
  	{
  		border-bottom: 3px solid #0065fc;
  	}

 	#bouton
 	{
 		display: none;
 	}

 	#barrerecherche >form
 	{
 		width: 100%;
 		justify-content: center;
 		margin-top: 8vw;
 	}

 	#buttonsmart
 	{
 		display: block;
 		width: 50px;
 		font-size: 18px;
 		padding: 0px 10px 0px 10px;
 	}	


 	
 	.lienfiltres
 	{
 		margin-bottom: 15px;
 	}

 	#filtres
 	{
 		flex-wrap: wrap;
 		justify-content: space-between;
 		width: 90%;
 	}

 	#filtres h4
 	{
 		width: 100%;
 		font-weight: bold;
 	}

 	#recherche
 	{
 		word-wrap: break-word;
 	}


	#infos p
 	{
 		word-wrap: break-word;
 	}

 	.fa-info-circle
 	{
 		font-size: 1.5em;
 	}

 	#blochebergement
 	{
		flex-direction: column-reverse;
 		flex-wrap: wrap-reverse;
 		margin: 0;
 	}

 	#populaires
 	{
 		border-radius: 0;
 		margin-bottom: 3vw;
 		margin-right: 0;
 	}

 	.pop
 	{
 		width: auto;
 		height: 150px;
 		border: 3px white solid;
 	}

 	.cartepop
 	{
 		width: 35vw;
 	}

 	.texte 
 	{
 		width: 50%;
 	}

 	#bloc1
 	{
 		background-color: white;
 	}

 	#hebergements
 	{
 		flex-direction: column;
 	}
 	#ligne1, #ligne2
 	{
 		flex-direction: column;
 	}

 	.description
 	{
 		width: auto;
 		margin-left: 0;
 		height: 200px;
 	}

 	.carteheb
 	{
 		width: auto;
 		height: 150px;
 	}

 	#activites
 	{
 		flex-direction: column;
 	}

 	.grande, .petite, .trespetite, .moyenne
 	{
 		width: 90vw;
 		height: 150px;
 	}

 	.photoactivites
 	{
 		width: 90vw;
 		height: 200px;
 	}

 	figcaption
 	{
 		padding-bottom: 20px;
 		padding-top: 15px;
 		padding-left: 25px;
 	}

 	footer
 	{
 		flex-direction: column;
 	}

 	footer >div
 	{
 		width: auto;
 	}

 	footer li
 	{
 		margin-bottom: 5px;
 		margin-top: 10px;
 	}
}

@media screen and (min-width: 426px) and (max-width: 767px ) /*entre le smartphone et la tablette*/
{

 	#bouton
 	{
 		display: flex;
 	}

 	#barrerecherche >form
 	{
 		width: 100%;
 		justify-content: center;
 		margin-top: 8vw;
 	}

 	#buttonsmart
 	{
 		display: none;
 	}	

 	.description
 	{
 		height: 300px;
 	}

 	.carteheb
 	{
 		height: 450px;
 	}


}

@media screen and (min-width: 768px) and (max-width: 1023px ) /*tablettes et petits écrans*/
{
	#blochebergement
	{
		margin-right: 0;
		margin-left: 0;
		flex-direction: column-reverse;
	}

	#populaires
	{
		flex-direction: row;
		flex-wrap: wrap;
		margin-bottom: 3vw;
		height: auto;
	}

	#entetepop
	{
		width: 100%;
	}

	.pop
	{
		height: 15vw;
		width: 40vw;
	}

	.lignes
	{
		width: 100%;
	}

	.description
	{
		width: 25vw;
		height: 200px;
	}

	.carteheb
	{
		width: auto;
		height: 15vw;
	}


}

@media screen and (min-width: 1024px) and (max-width: 1439px ) /*petits écrans*/
{
	.description
	{
		height: 20vw;
	}

	#filtres
	{
		width: auto;
	}

	.pop
	{
		height: 13vw;
	}
}